---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import HomePosts from "../components/HomePosts.astro";
import Tags from "../components/Tags.astro";
import getTags from "../scripts/getTags";
import homepage from "../settings/homepage.yml";

const posts = await getCollection("posts");
const tags = getTags(posts);
---

<BaseLayout>
	<div class="center hero-photo">
		<img
			src={homepage.profilePhoto}
			alt="Autumn"
			class="profile-photo"
		/>
	</div>

	<h2 class="center">{homepage.greeting}</h2>
	{homepage.bio.map((paragraph) => <p>{paragraph}</p>)}
	<p class="center"><a href="/about">{homepage.aboutLinkText}</a></p>

	<div class="photo-stack">
		{homepage.middlePhotos.map((photo) => (
			<img src={photo.src} alt={photo.alt} loading="lazy" />
		))}
	</div>

	<br />

	<h3>Here's my most recent posts</h3>

	<HomePosts allPosts={posts} count={homepage.recentPostCount} />

	<div class="photo-grid three">
		{homepage.bottomPhotos.map((photo) => (
			<img src={photo.src} alt={photo.alt} loading="lazy" />
		))}
	</div>

	<p class="center">
		You can also <a href="/rss.xml">subscribe with RSS!</a>
	</p>
	<br />

	<p class="center logo-divider">
		<img src="/logos/pinkcomputer.png" alt="" class="section-logo" />
	</p>

	<Tags tags={tags} all />
</BaseLayout>
