---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";

let posts = await getCollection("posts");

posts = posts.sort(
	(a, b) =>
		new Date(b.data.updated || b.data.added).valueOf() -
		new Date(a.data.updated || a.data.added).valueOf(),
);
---

<BaseLayout>
	<content>
		<ul class="posts-list">
			{
				posts.map(
					({
						url,
						data: { description, slug, title, tags, added: date },
					}) => <Post {description} {date} {slug} {title} {tags} />
				)
			}
		</ul>
	</content>

	<p class="center">
		You can also <a href="/rss.xml">subscribe with RSS!</a>
	</p>
</BaseLayout>
